
{% extends "base.html" %}
{% block title %}COR. ONE{% endblock %}
{% block content %}


<div class="container pt-5 pb-4">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="index.html">COR.<span>ONE</span></a>
						</div>

					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="https://www.instagram.com/cor.one999/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/game" class="nav-link">Games</a></li>
	        	<li class="nav-item active"><a href="/news" class="nav-link">News</a></li>
				<li class="nav-item"><a href="/community" class="nav-link">Community</a></li>
				<li class="nav-item"><a href="/aboutus" class="nav-link">About us</a></li>
	        	<li class="nav-item"><a href="/contactus" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>



<body>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Eyes are important route for coronavirus to infect humans: Study</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="blog.html">News <i class="ion-ios-arrow-forward"></i></a></span> <span>Article <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
          	<p>
              <img src="static/images/image_3.jpg" alt="" class="img-fluid">
            </p>
            <h2 class="mb-3">May. 8, 2020</h2>
              <p>The eyes are a key route by which the novel coronavirus infects humans, a study by the University of Hong Kong has found, in addition to the upper respiratory tract, which includes the nose, mouth and throat.</p>

<p>The study made public on Friday (May 8) also found that Sars-Cov-2 - the strain of coronavirus that causes the Covid-19 disease - was up to 100 times more infectious than the severe acute respiratory syndrome (Sars) virus, or Sars-Cov, and bird flu viruses such as H5N1, reported newswire agency Xinhua.</p>

<p>The research team led by Dr Michael Chan Chi Wai, an associate professor at the university's School of Public Health, found that the coronavirus is much more efficient in infecting the human conjunctiva - the tissue lining the surface of the eye - and the upper respiratory airways, and its level of infection is comparable to that observed for H1N1, the swine flu virus that caused a pandemic in 2009.</p>

<p>"This explains the higher transmissibility of Covid-19 than that of Sars. This study also highlights the fact that eyes may be an important route of Sars-Cov-2 human infection," Dr Chan said, according to the South China Morning Post.</p>

<p>The research team had previously discovered that the coronavirus remains alive for up to seven days on smooth surfaces such as stainless steel, glass and plastic. It is therefore possible for people to get infected when they touch these surfaces with their hands and then touch their face.</p>

<p>This latest finding affirms advice from public health experts that people can lower their risk of infection by washing their hands regularly and not touching their faces, to avoid accidental transfer of the virus to their facial orifices.</p>

<p>The study, which was published in the latest issue of The Lancet Respiratory Medicine, comes as the number of Covid-19 cases reached nearly four million worldwide, with over 271,000 fatalities as at Friday.</p>
            <div class="pt-5 mt-5">
              <h3 class="mb-5">4 Comments</h3>
              <ul class="comment-list">
                <li class="comment">
                  <div class="vcard bio">

                  </div>
                  <div class="comment-body">
                    <h3>diana</h3>
                    <div class="meta"></div>
                    <p>We better wear those masks when we go out now  ._.</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">

                  </div>
                  <div class="comment-body">
                    <h3>Richard</h3>
                    <div class="meta"></div>
                    <p>looks like lockdown aint gonna end anytime soon</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>

                </li>

                <li class="comment">
                  <div class="vcard bio">

                  </div>
                  <div class="comment-body">
                    <h3>tom</h3>
                    <div class="meta"></div>
                    <p>hello people!!!</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">

                  </div>
                  <div class="comment-body">
                    <h3>timmy</h3>
                    <div class="meta"></div>
                    <p>hey guys :)</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>
              </ul>
              <!-- END comment-list -->

              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="#" class="p-5 bg-light">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div>

          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>

             <div class="sidebar-box ftco-animate">
              <h3>Latest News</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(static/images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="/article1">Woman arrested for assaulting authorities and refusing to wear a mask in Sun Plaza mall</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> May. 9, 2020</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 3</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(static/images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="/article2">Nursing home worker among the 768 new coronavirus cases; 328 patients discharged</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> May. 9, 2020</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 2</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(static/images/image_3.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="/article3">Eyes are important route for coronavirus to infect humans: Study</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> May. 8, 2020</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 4</a></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section> <!-- .section -->


  </body>
{% endblock %}