{% extends "base.html" %}
{% block title %}COR. ONE{% endblock %}
{% block content %}



<div class="container pt-5 pb-4">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="index.html">COR.<span>ONE</span></a>
						</div>

					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="https://www.instagram.com/cor.one999/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/game" class="nav-link">Games</a></li>
	        	<li class="nav-item active"><a href="/news" class="nav-link">News</a></li>
				<li class="nav-item"><a href="/community" class="nav-link">Community</a></li>
				<li class="nav-item"><a href="/aboutus" class="nav-link">About us</a></li>
	        	<li class="nav-item"><a href="/contactus" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>


<body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Eyes are important route for coronavirus to infect humans: Study</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="blog.html">News <i class="ion-ios-arrow-forward"></i></a></span> <span>Article <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
          	<p>
              <img src="static/images/image_2.jpg" alt="" class="img-fluid">
            </p>
            <h2 class="mb-3">May. 9, 2020</h2>
              <p>Among the 768 new Covid-19 cases announced on Friday (May 8) is a staff member from a nursing home operated by Ren Ci Hospital in Ang Mo Kio Avenue 8.</p>

<p>The 34-year-old Filipino woman is a resident care associate (RCA) at the home who was confirmed to have Covid-19 on Thursday after being tested as part of ongoing surveillance tests at nursing homes by the Ministry of Health (MOH), the ministry said on Friday.</p>

<p>She is currently warded in an isolation room at the National Centre for Infectious Diseases (NCID).</p>

<p>Ren Ci Hospital said in a Facebook post on Friday that before being admitted to NCID, she had gone to work where she had complied with the enhanced precautionary measures at the nursing home, which include wearing personal protective equipment when caring for residents.</p>

<p>The hospital said it has conducted deep cleaning and disinfection of the affected areas and will continue cleaning more frequently.</p>

<p>Said deputy clinical director at Ren Ci Hospital David Ng: "Ren Ci has two nursing homes and all staff have been tested as part of the extensive testing exercise by MOH. The RCA was the only staff who tested positive.</p>

<p>"We have since worked closely with MOH to test the nursing home residents whom she cared for as well as those in the neighbouring households. Their test results are negative."</p>

<p>MOH also announced the closure of three clusters - Dover Court International School, ICA Building and Lee Ah Mooi Old Age Home - as there have been no more cases linked to these clusters for the past 28 days, or two incubation periods.</p>

<p>A daily record number of patients - 328 - were discharged from hospitals or community isolation facilities.</p>

<p>Foreign workers living in dormitories continue to make up the bulk of new cases in Singapore, accounting for 750 of Friday's cases.</p>

              <p>As of Friday, 19,232 of 323,000 migrant workers living in dormitories, or almost 6 per cent, have tested positive for Covid-19.</p>

            <div class="pt-5 mt-5">
              <h3 class="mb-5">2 Comments</h3>
              <ul class="comment-list">
                <li class="comment">
                  <div class="vcard bio">

                  </div>
                  <div class="comment-body">
                    <h3>Desmond</h3>
                    <div class="meta"></div>
                    <p>More measures really have to be takent to protect our healthcare workers.</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">

                  </div>
                  <div class="comment-body">
                    <h3>Mirah</h3>
                    <div class="meta"></div>
                    <p>Take care guys <3</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>

                </li>
              </ul>

              <!-- END comment-list -->

              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="#" class="p-5 bg-light">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div>

          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>

             <div class="sidebar-box ftco-animate">
              <h3>Latest News</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(static/images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="/article">Woman arrested for assaulting authorities and refusing to wear a mask in Sun Plaza mall</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> May. 9, 2020</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 3</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(static/images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="/article2">Nursing home worker among the 768 new coronavirus cases; 328 patients discharged</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> May. 9, 2020</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 2</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(static/images/image_3.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="/article3">Eyes are important route for coronavirus to infect humans: Study</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> May. 8, 2020</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 4</a></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section> <!-- .section -->


  </body>

{% endblock %}