{% extends "base.html" %}
{% block title %}COR. ONE{% endblock %}
{% block content %}

<div class="container pt-5 pb-4">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="index.html">COR.<span>ONE</span></a>
						</div>

					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="https://www.instagram.com/cor.one999/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/game" class="nav-link">Games</a></li>
	        	<li class="nav-item"><a href="/news" class="nav-link">News</a></li>
				<li class="nav-item"><a href="/community" class="nav-link">Community</a></li>
				<li class="nav-item"><a href="/aboutus" class="nav-link">About us</a></li>
	        	<li class="nav-item"><a href="/contactus" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>

<body>

<div class="container-fluid" style="background-color: black;">
<section>
    <div class="hero-wrap" style="background-image: url('static/images/img_2.jpg');" data-stellar-background-ratio="0.25">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
              <div class="col-md-6 ftco-animate">
				  <h1 style="margin-top: 500;">How to better protect yourself from covid</h1>
				  <p class="mb-4">Tips and tricks to protect yourself</p>
                <p><a href="/protect" class="btn btn-primary mr-md-4 py-2 px-4">Learn more <span class="ion-ios-arrow-forward"></span></a></p>
              </div>
            </div>
          </div>
		</div>
	

	</section>
	




	<section class="containter-fluid" style="margin-top: 10;">

		<div class="hero-wrap" style="background-image: url('static/images/stayhome.jpg');" data-stellar-background-ratio="0.25">
			<div class="overlay"></div>
			<div class="container">
			  <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
				<div class="col-md-6 ftco-animate">
					<h1 style="margin-top: 500;">What we can do during the circuit breaker</h1>
					<p class="mb-4">Bored at home? Well here are some tips to keep the boredness at bay</p>

				  <p><a href="/stayhome" class="btn btn-primary mr-md-4 py-2 px-4">Learn more <span class="ion-ios-arrow-forward"></span></a></p>

				</div>
			  </div>
			</div>
		  </div>

	</section>


	<section class="containter-fluid" style="margin-top: 10;">

		<div class="hero-wrap" style="background-image: url('static/images/rc.png');" data-stellar-background-ratio="0.25">
			<div class="overlay"></div>
			<div class="container">
			  <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
				<div class="col-md-6 ftco-animate">
					<h1 style="margin-top: 500;">Food Collection For Elderly</h1>
					<p class="mb-4">Only for the elderly</p>

				  <p><a href="/rc" class="btn btn-primary mr-md-4 py-2 px-4">Learn more <span class="ion-ios-arrow-forward"></span></a></p>



				</div>


			  </div>
			</div>



		  </div>


	</section>

</div>



{% endblock %}