{% extends "base.html" %}
{% block title %}COR.ONE{% endblock %}
{% block content %}

<div class="container pt-5 pb-4">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="index.html">COR.<span>ONE</span></a>
						</div>

					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="https://www.instagram.com/cor.one999/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/game" class="nav-link">Games</a></li>
	        	<li class="nav-item"><a href="/news" class="nav-link">News</a></li>
				<li class="nav-item"><a href="/community" class="nav-link">Community</a></li>
				<li class="nav-item"><a href="/aboutus" class="nav-link">About us</a></li>
	        	<li class="nav-item"><a href="/contactus" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>


<body>
    
    <u><h1 class="text-center">Tips To Protect Yourself</h1></u>

    <section class="container">

        <div class="row" >
            <div class="col-sm">
                <p>Wash your hand regularly with soap or use an alcohol-based sanitiser. By washing your hands and using hand sanitizers, you can kill viruses and bacteria on your hand.
            Click here to find out more Practice Social distancing.
                </p>
                <a href="https://www.youtube.com/watch?v=-LKVUarhtvE">https://www.youtube.com/watch?v=-LKVUarhtvE</a>
                 
            </div>
           <div class="col-sm">
            <img class="img-fluid mx-auto col-md-10 " src="static/images/washhands.jpg" alt="The british Short Hair">
           </div>
        </div>
        <hr class="bg-light" style="height: 20px">

        <div class="row" >
            <div class="col-sm">
                <p>Stay at least one metre apart from others. This is because the virus can be spread through sneezing, coughing and talking through small liquid droplets. Hence, it is important to practice social distancing </p>
                 <p>Avoid crowded places. By being in the crowd, there is a higher chance of getting the virus due to close contact with other people</p>
            </div>
           <div class="col-sm">
            <img class="img-fluid mx-auto col-md-10 " src="static/images/socialdistancing.jpg">
           </div>
        </div>

        <hr class="bg-light" style="height: 20px">


        <div class="row" >
            <div class="col-sm">
                <p>Do not touch your eyes, nose and mouth. Your hands might have come into contact with the virus when you touch surfaces. The virus can be transferred from your hand to your eyes, nose or mouth. Thus, do not touch them. If you need to, wash your hand before touching them.</p>
                 
            </div>
           <div class="col-sm">
            <img class="img-fluid mx-auto col-md-10 " src="static/images/face.jpg">
           </div>
        </div>

<hr class="bg-light" style="height: 20px">

        <div class="row" >
            <div class="col-sm">
                <p>Practice good respiratory hygenice. If you have a flu or a cough, use a tissue. This prevents possible spread of the virus and protects the people around you.</p>

            </div>
           <div class="col-sm">
            <img class="img-fluid mx-auto col-md-10 " src="static/images/sneezing2.jpg">
           </div>
        </div>

<hr class="bg-light" style="height: 20px">


        <div class="row" >
            <div class="col-sm">
                <p>Stay home. Try minimising the time you go outside. Only go out if you need to. Eg. Buying groceries, seeing a doctor or buying your meals.</p>

            </div>
           <div class="col-sm">
            <img class="img-fluid mx-auto col-md-10 " src="static/images/home.jpg">
           </div>
        </div>

<hr class="bg-light" style="height: 20px">

        <div class="row" >
            <div class="col-sm">
                <p>Seek medical attention IMMEDIATELY if you feel unwell. If you experience cough, fever and difficulty breathing, call your local health authority in advance and follow instructions from them. This allows them to be able to prepare for you the right health care facilities. It also alerts National and Local authorities so that they will have more accurate up to date information on the situations and prevents further spread of the virus</p>

            </div>
           <div class="col-sm">
            <img class="img-fluid mx-auto col-md-10 " src="static/images/temperature.jpg">
           </div>
        </div>


<hr class="bg-light" style="height: 20px">

        <div class="row" >
            <div class="col-sm">
                <p>Stay well informed and keep up with the news from trusted sources such as WHO(world health Organisation) and national health authorities as they are able to advise you on what you can do to protect yourself
</p>

            </div>
           <div class="col-sm">
            <img class="img-fluid mx-auto col-md-10 " src="static/images/news.jpg">
           </div>
        </div>

    </section>

</body>
{% endblock %}