{% extends "base.html" %}
{% block title %}COR. ONE{% endblock %}
{% block content %}



<div class="container pt-5 pb-4">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="index.html">COR.<span>ONE</span></a>
						</div>

					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="https://www.instagram.com/cor.one999/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/game" class="nav-link">Games</a></li>
	        	<li class="nav-item"><a href="/news" class="nav-link">News</a></li>
				<li class="nav-item"><a href="/community" class="nav-link">Community</a></li>
				<li class="nav-item"><a href="/aboutus" class="nav-link">About us</a></li>
	        	<li class="nav-item"><a href="/contactus" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>


<body>

<div class="container-fluid">


    <u><h1 style="text-weight:bold;" class="text-center">Food Collection</h1></u>

    <div class="row">

        <div class="col-sm">

            <h1>1. Go to your nearest rc (Do not forget to bring your IC and wear your mask)</h1>

        </div>
    </div>



    <div class="row" style="margin-bottom:80">

        <img src="static/images/rc.png" class="mx-auto">

    </div>
    <hr class="bg-light" style="height: 20px">

    <div class="row">

        <div class="col-sm">

            <h1>2. Wait in line (There will be seats provided)</h1>

        </div>
    </div>


    <div class="row" style="margin-bottom:80">

        <img src="static/images/seats.jpg" class="mx-auto" alt="https://twitter.com/mothershipsg/status/1011639805216632832" style="height:500;width:600;">

    </div>

<hr class="bg-light" style="height: 20px">

     <div class="row">

        <div class="col-sm">

            <h1>3. Hand them your IC and collect items</h1>

        </div>
    </div>

<div class="row" style="margin-bottom:80">

        <img src="static/images/ic.jpg" class="mx-auto" alt="https://www.tp.edu.sg/staticfiles/TP/files/fees&financialmatters/Sample%20Documents.pdf">

    </div>

    <br><br>

     <div class="row">

        <div class="col-sm">

            <h1 class="text-center">YOUR DONE EASY AS THAT</h1>

        </div>
    </div>
</div>


</body>
{% endblock %}