{% extends "base.html" %}
{% block title %}COR. ONE{% endblock %}
{% block content %}


<div class="container pt-5 pb-4">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="index.html">COR.<span>ONE</span></a>
						</div>

					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="https://www.instagram.com/cor.one999/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/game" class="nav-link">Games</a></li>
	        	<li class="nav-item"><a href="/news" class="nav-link">News</a></li>
				<li class="nav-item"><a href="/community" class="nav-link">Community</a></li>
				<li class="nav-item"><a href="/aboutus" class="nav-link">About us</a></li>
	        	<li class="nav-item"><a href="/contactus" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>


<body>

    <u><h1 class="text-center">What to do in this circuit breaker period</h1></u>
    <hr style="margin:20;">


    <div class="row">
        <div class="col-sm" style="margin-left:120;">
         <video  controls>
            <source src="static/images/EASY CORNFLAKE COOKIES RECIPE (5 INGREDIENTS).mp4"type="video/mp4">
        </video>
        </div>

        <div class="col-sm shadow bg-white"style="margin-right:200;">
            <h2>1.Learn new recipes </h2>
            <p>CORNFLAKE COOKIES RECIPE (MAKE APPROXIMATELY 15 PCS)
            INGREDIENTS: - Flour 130 gr - 1 Egg - Sugar 80gr - Butter 125gr - 70gr cornflakes Bake it on 175 degree celcius for 15-20 minutes (depending on how big the cookies are and the oven)
                <br>
                Steps: <br>
                1. First add butter into a bowl. Next add Sugar. <br>
                2. Cream butter and sugar together until it appear light and fluffy. <br>
                3. Add and beat in egg. <br>
                4. Add flour and mix well. <br>
                5. Stir cornflakes and mix thoroughly. <br>
                6. Shape cookies and place on parchment-lined baking sheet. <br>
                7. After putting in the oven, check the colour of the cookie, the product should be baked to a golden brown crisp. You may probe it with a thin stick to check the consistency.
            </p>

        </div>

    </div>

    <hr style="margin-top:50">

<div class="row" style="margin-top:50">

    <div class="col-sm shadow-lg bg-transparent" style="margin-left:50">

        <h2>2. Make your own DIY Masks</h2>
        <p>Materials <br>
            -Two 25cm by 15cm cotton fabric <br>
            -Two 15cm piece of elastic band, rubber bands, head bands  etc <br>
            -Needle and thread <br>
            -Scissors <br>
            -Sewing machine <br>
            Steps: <br>
            1. Use woven cotton, such as quilting fabric or cotton sheets or a T-shirt fabric. <br>
            2. Stack the two rectangles; you will sew the mask as if it was a single piece of fabric. <br>
            3. Fold over the long sides 0.6sm and hem. <br>
            4. Then fold the double layer of fabric over 0.6cm along the short sides and stitch down. <br>
            5. Run a 15cm length of 0.3cm  wide elastic through the wider hem on each side of the mask. <br>
            6. These will be the ear loops. Use a large needle or a bobby pin to thread it through. Tie the ends tight. <br>
            7. Gently pull on the elastic so that the knots are tucked inside the hem. <br>
            8.Gather the sides of the mask on the elastic and adjust so the mask fits your face.  <br>
            9. Then securely stitch the elastic in place to keep it from slipping. <br>
        </p>

    </div>

    <div class="col-sm" style="margin-left: 50;">
         <video  controls>
            <source src="static/images/DIY.mp4"type="video/mp4">
        </video>
        </div>

</div>


<hr style="margin-top:50">


    <div class="row" style="margin-top:50">

        <div class="col-sm"style="margin-left:100">

            <img class="img-fluid mx-auto col-md-10 " src="static/images/exercise.jpg" >

        </div>

        <div class="col-sm shadow bg-white" style="margin-right:50">
            <h2>3. Workout and get your dream body</h2>

            <p>

                1. Do some warm-ups before doing any actual workout to make the blood pumping <br>
                2. Do some cardio to improve your circulative system <br>
                3. Some core exercises to burn off that belly fat. <br>
                4. Don't forget to take a 20 sec break after each exercise so that you don't tire yourself out <br>
                5. Do some light jogging to lose that body fat (Do not forget to bring your mask and wear it when your done).

            </p>


        </div>
        
    </div>


<hr style="margin-top:50">


    <div class="row" style="margin-top:50">

    <div class="col-sm shadow bg-white" style="margin-left:100">
            <h2>4. Make your own DIY TieDie T-shirt</h2>

            <p>

                - One clean white shirt <br>
                - Dyes in bottles <br>
                - 4 Strong Elastic bands <br>
                - A container <br>
                - Gloves <br>
                Steps: <br>
                1. Lay your  shirt flat. Begin twisting your shirt into a spiral shape, any shape you want to form into a disc shape. <br>
                2. Use strong elastic bands and tie to surround the shirt that has been formed into a disc shape. <br>
                3. (Wear gloves) Add dye and let the shirt absorb the dye. To make it simpler, fill it in into squirt bottles and decorate the shirt. <br>
                4. Leave it about a day and rinse off the dye. <br>


            </p>


        </div>

     <div class="col-sm"style="margin-right:100">

            <img class="img-fluid mx-auto col-md-10 " src="static/images/tiedie.jpg" >

        </div>


</div>


<hr style="margin-top:50">


    <div class="row" style="margin-top:50">

        <div class="col-sm"style="margin-left:100">

            <img class="img-fluid mx-auto col-md-10 " src="static/images/netflix.jpg" >

        </div>


          <div class="col-sm shadow bg-white" style="margin-right:100">
            <h2>5. Catch up on your favourite shows</h2>

            <p>

                These troubling times are hard but every problem has a silver lining, for now you can binge watch the movies that you have not watched before.
                <br>
                You could now catch up on the shows that everyone has been talking about or you could rewatch your favourite shows.
                <br>
                So don't be so pessimistic you can always escape reality by watching movies.


            </p>


        </div>



    </div>


    <hr style="margin-top:50">

    <h2 class="text-center">Most importantly Stay Home</h2>


    <img src="static/images/staysafe.jpg" alt="" width="520" height="360" class="rounded mx-auto d-block">


</body>

{% endblock %}